<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @note.title %></h1>
    <p>
      <%= @note.body %>
    </p>
  </body>
</html>